.button-container {
  border-bottom-width: 1px;
  border-color: var(--color-black-20);
  padding-left: 12rem;

  @media (max-width: 680px) {
    padding-left: 20px;
  }
}

.button {
  display: inline-block;
  padding: 11px 27px;
  color: var(--color-bus) !important;
  text-decoration: none;
}

.buttonHighlighted {
  border: none;
  border-bottom: 5px solid var(--color-bus) !important;
}
