.loader-container {
  /* position the div in center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9; /* this makes the overlay one index under the top bar*/
  overflow: hidden;
  margin-top: -4.6875rem; /* this makes the overlay extend under the topbar to fill the whole page */
}
