.planning-list-table-container {
  margin: var(--spacing-layout-s);
  font-size: var(--fontsize-body-s);
  white-space: nowrap;
  line-height: 1.15rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.planning-list-years-table {
  text-align: center;
  width: 70%;
}

.planning-list-years-table span {
  display: block;
}

.planning-list-years-table .row-1-cell {
  background: var(--color-bus);
  color: white;
  padding: 0.5rem 0.25rem;
  font-size: 0.875rem;
  max-width: 4.875rem;
  min-width: 4.875rem;
}

.planning-list-projects-table {
  width: 100%;
}

.planning-list-info-panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* repeat 2 rows with 1fr (fractional unit) */
  grid-auto-flow: row;
  overflow-x: visible;
  margin: 0 var(--spacing-xs) 0 0;
  width: 30%;
  min-width: 26rem;
}

.planning-list-info-panel span {
  display: block;
}
.planning-list-info-panel #planningListTitle {
  grid-column: 1/3;
}

#planningListTitle .info-icon {
  transform: translate(0.8rem, 0.15rem);
}

#planningListTitle div {
  display: flex;
}

.planning-list-info-panel #planningListGroupInfo {
  text-align: right;
}

#planningListGroupInfo .group-info-text {
  font-weight: bold;
}

#planningListButton button {
  height: 2.75rem !important;
  width: 14.9375rem !important;
}

.planning-list-info-panel #planningListBasicInfo {
  font-weight: bold;
  grid-column: 2/3;
  text-align: right;
}

.group-header-cell {
  width: 30.6%;
  text-align: left;
  background: var(--color-bus);
  padding: 0.5rem 1.25rem;
  color: white;
  min-width: 24.3rem;
}

.group-header-cell-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.group-header-cell .left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.group-header-cell .right {
  display: flex;
  flex-direction: column;
}

.group-header-cell .right span:last-child {
  font-weight: 400;
}

.group-cell {
  background: var(--color-bus);
  color: white;
  padding: 0.5rem 0.25rem;
  font-size: 0.875rem;
  text-align: right;
  max-width: 4.875rem;
  min-width: 4.875rem;
}

.group-cell span {
  font-weight: 300;
  padding-right: var(--spacing-s);
}

.class-header-cell {
  width: 30.6%;
  padding: 0.5rem 1.25rem;
  color: white;
  min-width: 24.3rem;
}

.class-header-cell.class-1 {
  background: var(--color-bus);
}

.class-header-cell.class-2 {
  background: rgb(0, 0, 163);
}

.class-header-cell.class-3 {
  background: rgb(0, 0, 129);
}

.class-header-cell.class-4 {
  background: rgb(0, 0, 102);
}

.class-header-content-item.value-container {
  width: 3rem;
}

.class-cell {
  color: white;
  padding: 0.35rem 0.25rem;
  font-size: 0.875rem;
  text-align: right;
  max-width: 4.875rem;
  min-width: 4.875rem;
}

.class-cell .class-cell-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
}

.class-cell .class-cell-container span:first-child {
  font-size: 16px !important;
  font-weight: bold;
}

.class-cell .class-cell-container span {
  font-size: 14px !important;
}

.class-cell span {
  font-weight: 300;
  padding-right: var(--spacing-s);
}

.class-cell.class-1 {
  background: var(--color-bus);
}

.class-cell.class-2 {
  background: rgb(0, 0, 163);
}

.class-cell.class-3 {
  background: rgb(0, 0, 129);
}

.class-cell.class-4 {
  background: rgb(0, 0, 102);
}

.class-header-cell .class-header-content {
  display: flex;
  align-items: center;
}

.class-header-content.class-1 {
  padding-left: 0;
}

.class-header-content.class-2 {
  padding-left: 2rem;
}

.class-header-content.class-3 {
  padding-left: 4rem;
}

.class-header-content.class-4 {
  padding-left: 6rem;
}

.class-header-content-item {
  display: flex;
  margin-right: 0.5rem;
}

.class-header-content-item span:first-child {
  font-weight: 300;
}

/* Second cell in the projects table header */
.planning-list-projects-table thead tr th:nth-child(2) {
  text-align: center;
}

.planning-list-projects-table thead tr th:nth-child(2) span {
  padding-right: 0;
}

.project-header-cell {
  text-align: left;
  padding: 0.1rem 1.25rem;
  border-bottom: 0.05rem solid var(--color-bus-medium-light);
  border-left: 0.05rem solid var(--color-bus-medium-light);
}

.project-header-cell-container {
  display: flex;
}

.project-header-cell .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  width: 60%;
  text-align: left;
  gap: 0.5rem;
}

.project-header-cell .right {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

.project-header-cell .right span:last-child {
  font-weight: 400;
}

.project-header-cell .right .project-header-left {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.project-header-cell .right .project-header-right {
  display: flex;
  flex-direction: column;
}

/* Hide too long project names */
.project-header-cell .project-name-button {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 8.125rem;
}

.project-cell {
  text-align: center;
  background: var(--color-bus-light);
  border-bottom: 0.05rem solid var(--color-bus-medium-light);
  border-collapse: collapse;
}

.project-cell:last-child {
  border-right: 0.05rem solid var(--color-bus-medium-light);
  border-collapse: collapse;
}

.circle-number-icon {
  background: gray;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle-number-icon-indicator {
  position: absolute;
  background: black;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  font-size: 0.6rem;
  line-height: 0.85rem;
  bottom: 0rem;
  right: -0.3125rem;
}

.table-input input {
  text-align: center !important;
  cursor: pointer !important;
  border-radius: 0.25rem !important;
  height: 2.75rem !important;
  width: 90% !important;
  font-size: var(--fontsize-body-s) !important;
  font-weight: 300 !important;
  position: absolute; /* absolute prevents the form from jumping when a field is selected */
  bottom: 0;
  top: -1.25rem;
  left: 0.25rem;
}

@media (max-width: 1490px) {
  .planning-list-table-container {
    margin-right: 5rem;
  }
}
