.planning-info-panel {
  grid-template-rows: repeat(5, 1.7rem);
  padding: 0.75rem;
  @apply grid w-[35%] min-w-[26.75rem] grid-cols-2;
}

.planning-info-panel #planningButton {
  @apply col-span-1 row-start-1 row-end-2;
}

.planning-info-panel #selectedClass {
  @apply col-span-2 row-span-2;
}

.planning-info-panel #previousButton {
  @apply row-start-5 flex items-start;
}

#previousButton button {
  @apply h-8 min-h-[unset] w-28 min-w-[unset];
}

#previousButton button svg {
  @apply max-w-[unset];
}

#previousButton button:hover {
  background-color: none !important;
}
