.label-icon-container {
  display: flex;
  align-items: center;
}

.label-icon-text {
  margin-left: 6px;
}

/* Progress Circle */

@property --circle-percent {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.progress-circle {
  transform: rotate(-90deg);
  height: 100%;
  width: 100%;
}

.progress-circle .circle {
  fill: transparent;
  stroke: rgba(250, 250, 251, 0.5);
  stroke-width: 20px;
}

.progress-circle .percent-indicator {
  stroke-dasharray: 100; /* dasharray 100 with pathLength 100 makes the "percent" value work */
  stroke-dashoffset: calc(100 - var(--circle-percent));
  stroke-linecap: round; /* round edge */
  animation: progress 1s ease-out;
  fill: transparent;
  stroke-width: 20px;
}

.progress-circle .percent-text {
  transform: rotate(90deg);
  fill: white;
  font-size: 20px;
}

@keyframes progress {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: calc(100 - --circle-percent); /* why doesn't var() work here */
  }
}

/* TABS */
.custom-tab-list {
  padding-left: 12rem;
  border-bottom: 1px solid var(--color-black-20);
  z-index: 0;
}

.custom-tab-list span {
  z-index: 0;
}

.side-nav {
  width: 65%;
  max-width: 264px;
}

.error-text-container {
  display: inline;
}

.error-text-container .error-icon {
  transform: translateY(6px);
  margin-right: 0.4rem;
}

.error-text-container .error-text {
  display: inline;
  color: var(--color-error);
  font-weight: 500;
  font-size: var(--fontsize-body-m);
}
