.basic-info-form {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* repeat 2 rows with 1fr (fractional unit) */
  grid-auto-flow: row;
  gap: 0px var(--spacing-layout-s);
  width: 85%;
  margin: 0 var(--spacing-2-xl) 0 0;
}

.basic-info-form #formTitle {
  grid-column: 1/13;
}

.basic-info-form #type {
  grid-column: 1/7;
}

.basic-info-form #hkrId {
  grid-column: 7/13;
}

.basic-info-form #entityName {
  grid-column: 1/7;
}

.basic-info-form #description {
  grid-column: 1/7;
}

.basic-info-form #area {
  grid-column: 1/7;
}

.basic-info-form #sapProject {
  grid-column: 7/13;
}

.basic-info-form #sapNetwork {
  grid-column: 7/13;
  grid-row: 4 / 7;
}

.basic-info-form #hashTags {
  grid-column: 1/13;
}

/* elements inside FIELDSET will start from row 1 and repeat 3 columns */
.basic-info-form fieldset {
  display: grid;
  grid-column: 1/13; /* use up both columns of basic-info-form */
  grid-template-columns: repeat(12, 1fr); /* repeat 3 columns */
  grid-auto-flow: row;
}

.basic-info-form #estPlanningStartYear {
  grid-column: 1/5;
}

.basic-info-form #estPlanningEndYear {
  grid-column: 5/9;
}

/* the start-to-end date fields will be put next to eachother and the 3rd column will be left empty */
.basic-info-form #presenceStartYear {
  grid-row: 2;
  grid-column: 1/5;
}
.basic-info-form #presenceEndYear {
  grid-column: 2;
  grid-column: 5/9;
}

.basic-info-form #visibilityStartYear {
  grid-row: 3;
  grid-column: 1/5;
}
.basic-info-form #visibilityEndYear {
  grid-column: 2;
  grid-column: 5/9;
}

.basic-info-form #constructionStartYear {
  grid-column: 1/5;
}

.basic-info-form #constructionEndYear {
  grid-column: 5/9;
}
