.basic-info-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* repeat 2 rows with 1fr (fractional unit) */
  grid-auto-flow: row;
  gap: 0px var(--spacing-layout-l);
  width: 85%;
  overflow-x: visible;
  margin: 0 var(--spacing-2-xl) 0 0;
}

.basic-info-form #formTitle {
  grid-column: 1/3;
}

.basic-info-form #networkNumbers {
  grid-column: 2; /* at column 2 */
  grid-row: 4 / 7; /* starts at row 4, end at 7 */
}

.basic-info-form #identifiers {
  grid-column: 1/3;
}
