#add-project-programmed-dialog {
  width: 45vw;
  @apply h-screen;
}
#add-project-programmed-dialog div:nth-child(2) {
  @apply h-full;
}

#add-project-programmed-dialog .project-search-input .search-selections {
  @apply mt-5;
}
#add-project-programmed-dialog .project-search-input {
  @apply mt-5;
}
#add-project-programmed-dialog .project-search-input div div div button {
  @apply z-10;
}

.project-suggestions-card {
  @apply mb-3 border-2 border-black bg-white py-6 px-8;
}

.project-suggestions-card .search-result-title-container {
  @apply mb-1 flex items-center justify-between text-2xl font-medium;
}
.project-suggestions-card .search-result-title-container .cross-icon {
  @apply cursor-pointer;
}

.project-suggestions-card .search-result-title-container .search-result-title {
  @apply flex items-center gap-3 text-l font-normal;
}

.project-suggestions-card-wrapper:hover .search-result-title > span {
  @apply underline;
}

.search-result-breadcrumbs {
  @apply mb-1 flex text-sm;
}

.search-result-breadcrumbs > div {
  @apply flex text-center;
}

.search-result-breadcrumbs > div > svg {
  @apply w-6 translate-y-[0.3rem];
}

#add-project-programmed-dialog .loader-container {
  position: static;
}

#add-project-programmed-dialog .loader-container .loader-wrapper {
  left: 50%;
}
