.planning-view-container {
  @apply mx-8 mb-8 whitespace-nowrap leading-5;
}

.planning-view-container-header {
  @apply sticky top-0 z-[100] flex overflow-x-scroll bg-white pt-8;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.planning-view-container-header::-webkit-scrollbar {
  display: none;
}

/* All spans have are aligned right */
.planning-view-container span {
  @apply text-right;
}

@media (max-width: 1600px) {
  .planning-view-container {
    @apply mr-20;
  }
}
