.dialog-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 8px;
    margin-left: 5px;
    background-color: white;
    border: 1px solid black;
    text-align: start;
  }

  .dialog-top-part {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch !important; /*cross and text start from the same height*/
    width: 100%;
    padding: 15px !important;
  }

  .dialog-top-part h1 {
    font-weight: normal;
  }
  .dialog-top-part h2 {
    font-weight: 600;
    margin-top: 8px;
  }
  
  #left {
    display: flex;
    flex-flow: column wrap;
    white-space: normal;
    width: 90%;
  }

  #right {
    width: 10%;
  }

  .dialog-middle-part {
    font-weight: normal;
  }
  
  .dialog-bottom-part {
    width: 100%;
    padding: 15px !important;
  }
  
  .dialog-add-note {
    @apply text-sm font-bold text-bus;
    font-weight: 500;
    font-size: 15px;
    text-decoration: underline;
  }