#group-create-dialog {
  min-height: fit-content;
  max-width: 65vh;
}
#group-create-dialog hr {
  border-top: 0.0625rem solid var(--color-black-20);
  margin: 0;
}

#group-create-dialog .search-form .advance-fields-button {
  color: var(--color-bus);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.input-wrapper {
  grid-column: 1/3;
  width: calc(100% - 10px);
  margin-bottom: 1.5rem;
}

.search-form-content {
  padding: var(--spacing-s) 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.search-selections-container {
  @apply flex h-auto w-full flex-wrap mt-3;
}

.search-selections-container .search-selections{
  @apply mr-3 mb-3;
}

.dialog-section .button-container {
  @apply fixed;
}