.group-header-cell {
  @apply w-[30.6%] min-w-[26.74rem] bg-bus py-2 px-5 text-white;
}

.group-header-cell-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.group-header-cell .left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 0.5rem;
}

.group-header-cell .right {
  display: flex;
  flex-direction: column;
}

.group-header-cell .right span:last-child {
  font-weight: 400;
}

.group-cell {
  @apply min-h-[var(--table-cell-width)] min-w-[var(--table-cell-width)] bg-bus py-2 px-1 align-text-top text-white;
}

.group-cell span {
  display: block;
  transform: translateX(-15%);
  font-weight: 300;
}

.project-header-cell {
  @apply border-b-[0.05rem] border-l-[0.05rem] border-bus-m py-1 px-5;
}

.project-header-cell-container {
  display: flex;
}

.project-header-cell .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  width: 60%;
  text-align: left;
  gap: 0.5rem;
}

.project-header-cell .left .dots-icon {
  cursor: pointer;
}

.project-header-cell .right {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

.project-header-cell .right span:last-child {
  font-weight: 400;
}

.project-header-cell .right .project-header-left {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.project-header-cell .right .project-header-right {
  display: flex;
  flex-direction: column;
}

/* Hide too long project names */
.project-header-cell .left .project-name-button {
  @apply max-w-[10.5rem] overflow-hidden overflow-ellipsis text-sm;
}

.project-cell {
  @apply border-collapse bg-bus-l text-right;
}

.project-cell:last-child {
  @apply border-collapse border-r-[0.05rem] border-bus-m;
}

.circle-number-icon {
  @apply relative flex h-6 w-6 items-center justify-center rounded-full bg-[gray] text-center text-white;
}

.circle-number-icon-indicator {
  @apply absolute bottom-0 -right-1 h-3 w-3 rounded-full bg-black text-[0.6rem] leading-3;
}

.table-input input {
  text-align: center !important;
  cursor: pointer !important;
  border-radius: 0.25rem !important;
  height: 2.75rem !important;
  width: 90% !important;
  font-size: var(--fontsize-body-s) !important;
  font-weight: 300 !important;
  position: absolute; /* absolute prevents the form from jumping when a field is selected */
  bottom: 0;
  top: -1.25rem;
  left: 0.25rem;
}
