.group-header-cell {
  @apply w-[35%] min-w-[26.74rem] bg-bus py-2 px-5 text-white;
}

.group-header-cell-content {
  @apply flex h-full w-full justify-between;
}

.group-header-cell .left {
  @apply relative flex items-center justify-center gap-2;
}

.group-header-cell .right {
  @apply flex flex-col;
}

.group-header-cell .right span:last-child {
  @apply font-normal;
}

.group-cell {
  @apply min-h-[var(--table-cell-width)] min-w-[var(--table-cell-width)] bg-bus py-2 px-1 align-text-top text-white;
}

.group-cell span {
  @apply block translate-x-[-15%] font-light;
}

.project-header-cell {
  /* setting max-width: 1rem will cause the table head to not grow bigger than the group table header */
  @apply max-w-[1rem] border-b-[0.05rem] border-l-[0.05rem] border-bus-m py-1 px-5;
}

.project-header-cell-container {
  /* setting max-width: 1rem will cause the table head to not grow bigger than the group table header */
  @apply flex w-full justify-between;
}

.project-header-cell .project-left-icons-container {
  @apply flex items-center gap-2 pr-2;
}

.project-header-cell .project-name-container {
  @apply flex w-[65%] items-center gap-2 overflow-hidden pr-4 text-left font-normal;
}

.project-header-cell .project-name-button {
  @apply max-w-[100%] overflow-hidden overflow-ellipsis text-sm;
}

.project-header-cell .project-right-icons-container {
  @apply flex w-[35%] items-center justify-between;
}

.table-input input {
  text-align: center !important;
  cursor: pointer !important;
  border-radius: 0.25rem !important;
  height: 2.75rem !important;
  width: 90% !important;
  font-size: var(--fontsize-body-s) !important;
  font-weight: 300 !important;
  position: absolute; /* absolute prevents the form from jumping when a field is selected */
  bottom: 0;
  top: -1.25rem;
  left: 0.25rem;
}

.project-cell {
  border-bottom: 0.05rem solid var(--color-bus-medium-light);
  @apply bg-bus-l;
}

.project-cell.planningAndConstruction {
  @apply bg-white;
}

.project-cell.planning {
  border-bottom: 4px solid var(--color-suomenlinna);
  @apply bg-white;
}

.project-cell.construction {
  border-bottom: 4px solid var(--color-copper);
  @apply bg-white;
}
