.phase-dialog-container {
  position: fixed;
  max-width: 16rem;
  border: 0.1rem solid var(--color-black);
  z-index: 999;
  transform: translateX(1.5rem);
  @apply bg-white;
}

.phase-dialog-container p {
  margin: 0.2rem 0;
}

.phase-dialog-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0.1rem 0;
  overflow: hidden;
  @apply border-b border-gray;
}

.phase-dialog-header .title {
  padding-left: 0.95rem;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 12rem;
}

.phase-dialog-header .description {
  font-weight: bold;
  padding-left: 0.95rem;
  font-size: 1rem;
}

.phase-dialog-header .close-icon {
  padding-right: 0.5rem;
  cursor: pointer;
  min-width: 1.5rem;
}

.phase-dialog-list {
  display: flex;
  flex-direction: column;
  padding: 0.35rem 0 0.35rem 0;
  margin: 0;
  @apply border-b border-gray;
}

.phase-dialog-list .list-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  @apply bg-white;
}
.phase-dialog-list .list-item.selected {
  @apply bg-bus-m;
}

.phase-dialog-list .list-item .selection-button {
  display: flex;
  padding-left: 0.7rem;
  align-items: center;
  gap: 0.35rem;
  overflow: hidden;
}

.phase-dialog-list .list-item .icon-width {
  min-width: 1.5rem;
}

.phase-dialog-list .list-item .check-icon {
  padding-right: 0.7rem;
}

.phase-dialog-list .list-item .item-text {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: normal;
  padding-right: 2rem;
}

.phase-dialog-list .list-item .item-text.selected {
  font-weight: bold;
  padding-right: 0;
}

.phase-dialog-footer {
  padding: 0.4rem;
  display: flex;
  justify-content: flex-end;
}

.phase-dialog-footer button {
  min-height: 2.5rem !important;
  max-height: 2.5rem !important;
}
