.project-form-side-panel-container {
  @apply sticky top-0 mx-6 max-w-[20.5rem] translate-y-[4rem] justify-center;
}
.project-form-side-panel {
  @apply flex w-full flex-col;
}
.project-form-side-panel .side-navigation {
  /* @apply flex max-w-[17.5rem] justify-center; */
}

.project-form-side-panel .pw-folder-container {
  @apply mb-4 mt-16 flex justify-center;
}

.project-form-side-panel .pw-folder-link-container {
  background-color: var(--color-bus-light);
  @apply mt-5 p-4;
}
.project-form-side-panel .pw-folder-link-container .pw-folder-link {
  background-color: var(--color-bus-light);
  @apply block w-max text-sm font-bold text-black;
}
.project-form-side-panel .pw-folder-link-container .pw-folder-link-not-exist {
  @apply m-1 text-sm font-bold;
}

.project-form-side-panel .form-status-container {
  @apply py-5;
  border-bottom: 1px solid var(--color-black-20);
}
