.sidebar-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: var(--spacing-4-xl);
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.07), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.07),
    0 0.25rem 0.5rem rgba(0, 0, 0, 0.07), 0 0.5rem 1rem rgba(0, 0, 0, 0.07),
    0 1rem 2rem rgba(0, 0, 0, 0.07), 0 2rem 4rem rgba(0, 0, 0, 0.07);
}

.sidebar-button {
  margin: var(--spacing-xs) auto 0 auto;
  padding: 0.5rem 0.6rem;
  cursor: pointer;
}

.sidebar-button:hover {
  border-radius: 0.125rem;
  background: var(--color-silver);
  transition: 0.4s ease-in-out;
}

.sidebar-button.selected {
  border-radius: 0.125rem;
  background: var(--color-silver);
  transition: 0.4s ease-in-out;
}
