.class-header-cell {
  @apply w-[35%] min-w-[26.75rem] border-b border-white px-6 text-white;
}

.class-header-cell > div {
  @apply flex items-center;
}

.class-header-cell.first {
  @apply bg-bus;
}

.class-header-cell.second {
  background: rgb(0, 0, 163);
}

.class-header-cell.third {
  background: rgb(0, 0, 129);
}

.class-header-cell.project {
  background: rgb(0, 0, 102);
}

.class-cell {
  @apply min-w-[var(--table-cell-width)] max-w-[var(--table-cell-width)] border-b border-white 
  pt-1 pb-[0.1rem] text-white;
}

.class-cell .class-cell-container {
  @apply grid grid-flow-row grid-rows-3;
}

.class-cell .class-cell-container span:first-child {
  @apply font-bold;
}

.class-cell .class-cell-container span {
  @apply w-full;
}

.class-cell .class-cell-container span:nth-child(3) {
  @apply font-bold text-suomenlinna-d;
}

.class-cell span {
  @apply translate-x-[-15%] font-light;
}

.class-cell.first {
  @apply bg-bus;
}

.class-cell.second {
  background: rgb(0, 0, 163);
}

.class-cell.third {
  background: rgb(0, 0, 129);
}

.class-cell.project {
  background: rgb(0, 0, 102);
}

.class-header-cell .class-header-content {
  @apply flex items-center overflow-ellipsis;
}

.class-header-content.first {
  @apply pl-0;
}

.class-header-content.second {
  @apply pl-8;
}

.class-header-content.third {
  @apply pl-16;
}

.class-header-content.project {
  @apply pl-24;
}

.class-header-content-dots {
  @apply mr-2 flex;
}

.class-header-content-item {
  @apply relative mr-2 flex;
}

.class-header-content-item:hover {
  @apply cursor-pointer;
}

.tooltip-container {
  inset: auto auto 0px 0px;
  @apply absolute z-[1000] hidden max-w-[21.875rem] -translate-y-8 
  border-b-8 border-coat-of-arms bg-coat-of-arms-l p-4 text-sm font-normal leading-normal text-black;
}

.tooltip-arrow {
  --arrow-pos: calc(-1 * var(--spacing-s) - 8px);
  @apply absolute bottom-[var(--arrow-pos)] mx-auto hidden border-8 border-transparent border-t-coat-of-arms;
}

.class-title-container {
  @apply max-w-[15rem];
}

/* hide too long class names */
.class-title-container span {
  @apply block overflow-hidden overflow-ellipsis whitespace-nowrap;
}

.class-header-content-item:hover .tooltip-container {
  @apply block;
}

.class-header-content-item:hover .tooltip-arrow {
  @apply block;
}
