.class-header-cell {
  @apply w-[35%] min-w-[26.75rem] border-b border-white px-6 text-white;
}

.table-header-cell.location {
  width: 30.6%;
  padding: 0 1.5rem;
  min-width: 23.8rem;
  border-bottom: 0.07rem solid var(--color-white);
  height: 44px;
}

.table-header-cell > div {
  display: flex;
  align-items: center;
}

.table-header-cell.class.first {
  background: var(--color-bus);
}

.table-header-cell.class.second {
  background: rgb(0, 0, 163);
}

.table-header-cell.class.third {
  background: rgb(0, 0, 129);
}

.table-header-cell.location.second {
  background: var(--color-fog-medium-light);
}

.table-header-cell.location.third {
  background: var(--color-coat-of-arms-medium-light);
}

.table-header-cell.project {
  background: rgb(0, 0, 102);
}

.table-cell.class {
  color: white;
  padding: 0.25rem 0 0.1rem 0;
  font-size: 0.875rem;
  max-width: 5.37rem;
  min-width: 5.37rem;
  border-bottom: 0.07rem solid var(--color-white);
}

.table-cell.location {
  padding: 0.25rem 0 0.1rem 0;
  font-size: 0.875rem;
  max-width: 5.37rem;
  min-width: 5.37rem;
  border-bottom: 0.07rem solid var(--color-white);
}

.table-cell .table-cell-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(3, 1fr);
}

.table-cell .table-cell-container span:first-child {
  font-size: 16px !important;
  font-weight: bold;
}

.table-cell .table-cell-container span {
  font-size: 14px !important;
  width: 100%;
  @apply font-bold text-suomenlinna;
}

.planning-table thead tr th:nth-child(2) span {
  padding-right: 0;
}
