:root {
  --color-masterClass: var(--color-bus);
  --color-class: rgb(0, 0, 163);
  --color-subClass: rgb(0, 0, 129);

  --color-district: var(--color-bus);
  --color-division: var(--color-fog-medium-light);
  --color-group: var(--color-fog-light);
}

/* TABLE HEADER */
.table-header {
  /* max-width: 1rem makes it so that the header doesn't grow beyond its max width */
  @apply w-[35%] min-w-[26.74rem] max-w-[1rem] border-b border-white bg-bus py-2 px-5 text-white;
}

.table-header-content {
  @apply flex items-center gap-1 overflow-ellipsis;
}

.table-header.masterClass {
  padding-left: 1rem;
  background: var(--color-masterClass);
}

.table-header.class {
  padding-left: 2.625rem;
  background: var(--color-class);
}

.table-header.subClass {
  padding-left: 4.1875rem;
  background: var(--color-subClass);
}

.table-header.district {
  padding-left: 1rem;
  background: var(--color-district);
  font-size: 20px !important;
}

.table-header.division {
  padding-left: 2.625rem;
  background: var(--color-division);
  font-size: 18px !important;
}

.table-header .table-title-container {
  /* FIXME: remove overflow-hidden to see the tooltip, should fix*/
  @apply relative flex overflow-hidden;
}

.table-header .table-title-container:hover {
  @apply cursor-pointer;
}

.table-header .table-title-container .table-header-title {
  @apply w-full  overflow-hidden text-ellipsis text-left;
}

/* FIXME: set custom tooltip to block when table-title-container is hovered */
.table-title-container:hover .tooltip-container {
  display: block;
}

/* FIXME: set custom tooltip to block when table-title-container is hovered */
.table-title-containerhover .tooltip-arrow {
  display: block;
}

.custom-tooltip button {
  width: 14rem !important;
  position: absolute;
  left: 12rem;
}

.custom-tooltip section {
  color: black !important;
}

.custom-tooltip svg {
  color: transparent;
}

/* TABLE CELL */
.table-cell {
  @apply min-w-[var(--table-cell-width)] border-b border-white bg-bus pb-[4px] pt-[7px] align-text-top text-white;
}

.table-cell.masterClass {
  background: var(--color-masterClass);
}

.table-cell.class {
  background: var(--color-class);
}

.table-cell.subClass {
  background: var(--color-subClass);
}

.table-cell.district {
  background: var(--color-district);
}

.table-cell.division {
  background: var(--color-division);
}

.table-cell .table-cell-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(3, 1fr);
}

.table-cell .table-cell-container span {
  font-size: 14px !important;
  width: 100%;
  line-height: 22px;
}

.table-cell .table-cell-container span:first-child {
  font-size: 16px !important;
  font-weight: bold;
}

.table-cell .table-cell-container span:nth-child(3) {
  font-weight: bold;
  color: var(--color-suomenlinna-dark);
}

.table-cell span {
  font-weight: 300;
  transform: translateX(-15%);
}

.table-header-content-dots {
  display: flex;
  margin-right: 0.5rem;
}
