:root {
  --color-masterClass: var(--color-bus);
  --color-class: #0000a3; /* color had to be improvised */
  --color-subClass: #01017f; /* color had to be improvised */
  --color-district-preview: var(--color-bus-dark);
  --color-district: var(--color-bus);
  --color-division: var(--color-fog-medium-light);
  --color-group: var(--color-fog-light);
}

/* TABLE HEADER */
.table-header {
  /* max-width: 1rem makes it so that the header doesn't grow beyond its max width */
  @apply h-11 w-[35%] min-w-[26.74rem] max-w-[1rem] border-b border-white bg-bus py-2 px-5 text-white;
}

.table-header-content {
  @apply flex items-center gap-1 overflow-ellipsis;
}

.table-header.masterClass {
  @apply bg-[var(--color-masterClass)] pl-4;
}

.table-header.class {
  @apply bg-[var(--color-class)] pl-10;
}

.table-header.subClass {
  @apply bg-[var(--color-subClass)] pl-16;
}

.table-header.district-preview {
  @apply bg-[var(--color-district-preview)] pl-[5.5rem];
}

.table-header.district-preview {
  padding-left: 5.875rem;
  background: var(--color-district-preview);
}

.table-header.district {
  @apply bg-[var(--color-district)] pl-4 text-xl;
}

.table-header.division {
  @apply bg-[var(--color-division)] pl-10 text-l font-medium text-black-90;
}

.table-header.division .table-header-content {
  @apply gap-4;
}

.table-header.group {
  @apply bg-[#f0f0ff] text-black;
}

/* Group row under a subClass */
.subClass ~ .group .table-header.group {
  @apply pl-[5.5rem];
}

/* Group row under a district */
.district ~ .group .table-header.group {
  @apply pl-10;
}

/* Group row under a division */
.division ~ .group .table-header.group {
  @apply pl-16;
}

.table-header .table-title-button {
  @apply flex overflow-hidden;
}

.table-header .table-title-container {
  @apply relative flex max-w-[85%];
}

.table-header .table-title-button:hover {
  @apply cursor-pointer;
}

.table-header .table-title-button .table-header-title {
  @apply w-full overflow-hidden text-ellipsis text-left;
}

.custom-tooltip button {
  @apply absolute left-48 w-56;
}

.custom-tooltip section {
  @apply text-black;
}

.custom-tooltip svg {
  @apply text-transparent;
}

/* TABLE CELL */
.table-cell {
  @apply min-w-[var(--table-cell-width)] border-b border-white bg-bus pb-[4px] pt-[7px] align-text-top text-white;
}

.table-cell.masterClass {
  @apply bg-[var(--color-masterClass)];
}

.table-cell.class {
  @apply bg-[var(--color-class)];
}

.table-cell.subClass {
  @apply bg-[var(--color-subClass)];
}

.table-cell.district-preview {
  @apply bg-[var(--color-district-preview)];
}

.table-cell.district-preview {
  background: var(--color-district-preview);
}

.table-cell.district {
  @apply bg-[var(--color-district)];
}

.table-cell.division {
  @apply bg-[var(--color-division)] text-black-90;
}

.table-cell.group {
  @apply bg-[#f0f0ff] text-black;
}

.table-cell .table-cell-container {
  @apply grid grid-flow-row;
}

.table-cell .table-cell-container span {
  @apply w-full text-sm leading-[22px];
}

.table-cell .table-cell-container span:first-child {
  @apply !text-base font-bold;
}

.table-cell .table-cell-container span:nth-child(3) {
  @apply font-bold text-suomenlinna-d;
}

.table-cell span {
  @apply translate-x-[-15%] font-light;
}

.table-header-content-dots {
  @apply mr-2 flex;
}
