.search-form .search-form-content {
  padding: var(--spacing-s) 0;
}

.search-form .search-form-content .input-l {
  max-width: 100% !important;
}

/* Title of the search form (filter) */
.search-form .search-form-content .input-wrapper#filter {
  padding-bottom: 0.8rem;
  margin-bottom: 0;
}

.search-form .search-form-content .input-wrapper {
  margin-bottom: 1.5rem;
}

.search-form .search-form-content #programmed {
  margin: 2rem 0 0.3rem 0;
}

/* programmed fieldset legend same properties as the labels */
.search-form .search-form-content #programmed legend {
  color: var(--color-black-90);
  display: block;
  font-size: var(--fontsize-body-m);
  font-weight: 500;
  margin-bottom: var(--spacing-xs);
}

/* programmed fieldset flex to get the checkboxes next to eachother */
.search-form .search-form-content fieldset#programmed {
  display: flex;
  gap: var(--spacing-l);
  padding-bottom: 0;
}
