.search-form .search-form-content {
  padding: var(--spacing-s) 0;
}

.search-form .search-form-content .input-l {
  max-width: 100% !important;
}

.search-form .search-form-content .input-wrapper:first-child {
  padding-bottom: 0.8rem;
  margin-bottom: 0.6rem;
}

.search-form .search-form-content .input-wrapper:nth-child(2) {
  margin-bottom: 1.5rem;
}
