.basic-info-form {
  @apply mt-16 w-full;
}

.basic-info-form .input-wrapper {
  margin-bottom: var(--spacing-l);
}

.basic-info-form .form-row {
  @apply flex w-full;
}

.basic-info-form .form-col-sm {
  @apply mr-6 flex basis-24 flex-col;
}

.basic-info-form .form-col-md {
  @apply mr-6 flex basis-72 flex-col;
}

.basic-info-form .form-col-lg {
  @apply mr-6 flex basis-[22.35rem] flex-col;
}

.basic-info-form .form-col-xl {
  @apply mr-6 flex basis-96 flex-col;
}

.basic-info-form .form-col-xxl {
  @apply mr-6 flex basis-[37.5rem] flex-col;
}

.basic-info-form #projectQualityLevel label,
.basic-info-form #planningPhase label,
.basic-info-form #constructionPhase label {
  @apply -translate-x-[7.5rem];
}

.save-icon > span {
  height: auto;
}

.side-panel-container {
  @apply sticky top-0 mx-6 max-w-[20.5rem] translate-y-[4rem] justify-center;
}
.project-side-panel {
  @apply flex w-full flex-col;
}
.project-side-panel .side-navigation {
  @apply flex max-w-[17.5rem] justify-center;
}

.project-side-panel .pw-folder-container {
  @apply mt-8 flex justify-center;
}

.project-side-panel .pw-folder-link-container {
  background-color: var(--color-bus-light);
  @apply mt-5 p-4;
}
.project-side-panel .pw-folder-link-container .pw-folder-link {
  background-color: var(--color-bus-light);
  @apply block w-max text-sm font-bold text-black;
}
.project-side-panel .pw-folder-link-container .pw-folder-link-not-exist {
  @apply m-1 text-sm font-bold;
}
.basic-form-container {
  @apply flex w-full flex-col flex-wrap;
}

.project-basics-container {
  @apply flex h-full w-full flex-wrap;
}

/* Select fields error message svg icon resize */
.select-field-wrapper div div > svg {
  @apply min-w-[25px] max-w-[25px];
}

/* Phase error message to extend both containers */
#phase div div div:nth-child(3) {
  @apply w-[200%];
}
