/* Search terms */
.search-terms-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.search-terms-container .search-terms {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: auto;
  margin: 0 var(--spacing-m) var(--spacing-m) 0;
}

.search-terms-container .search-terms > div {
  height: 1rem;
}

.empty-all-btn {
  background: transparent !important;
  background-color: transparent !important;
  white-space: nowrap;
  height: 1rem;
}

/* Search filter */
.search-filter-container {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.search-filter-container button {
  width: 9.5rem;
  height: 3rem;
}

/* Search result card */
.search-result-card-wrapper {
  color: var(--color-black);
  text-decoration: none;
}

.search-result-card {
  border: 0.13rem solid var(--color-black);
  padding: var(--spacing-m) var(--spacing-l);
  background: var(--color-white);
  margin-bottom: var(--spacing-s);
}

.search-result-card .search-result-title-container {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-result-card .search-result-title-container .search-result-title {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
}

.search-result-card .search-result-breadcrumbs {
  display: flex;
  gap: 0.2rem;
  margin-bottom: 0.25rem;
}

.search-result-card .search-result-breadcrumbs > div {
  display: flex;
  align-items: center;
}

.search-result-card .search-result-breadcrumbs > div > svg {
  transform: translateY(0.08rem);
}

.search-result-card .search-result-hashtags {
  display: flex;
  margin-top: 0.75rem;
}

/* Search result pagination */
.search-result-pagination-container {
  padding: var(--spacing-layout-l) 0 var(--spacing-s) 0;
}

/* Search result list */
.search-result-list-container {
  background: var(--color-silver-light);
  min-height: 60vh;
  padding: var(--spacing-layout-l) var(--spacing-layout-xl) var(--spacing-layout-l)
    var(--spacing-layout-l);
}

/* Search result header */
.search-result-header-container {
  padding: var(--spacing-layout-l) var(--spacing-layout-xl) var(--spacing-layout-xs)
    var(--spacing-layout-l);
}

.search-result-header-container .search-result-page-title {
  margin-bottom: var(--spacing-layout-s);
}

.search-result-header-container .search-result-terms-and-filters-container {
  display: flex;
  justify-content: space-between;
}

.result-list-options-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-layout-l);
  align-items: flex-end;
}

.page-dropdown-container {
  display: flex;
  align-items: center;
}

.page-dropdown-container > span {
  margin-right: 1rem;
  font-size: 20px;
}

.page-dropdown {
  width: 3.5rem;
  margin: 0 0.5rem 0 0;
}

.page-dropdown > div {
  min-height: 2rem;
}

.page-dropdown > div > button {
  padding: 0 0.4rem;
  justify-content: space-between;
  color: var(--color-black-60);
  min-height: 100% !important;
}

.page-dropdown > div > button > svg {
  position: absolute;
  top: 0;
  right: 0;
}

.page-dropdown > div > button > span {
  padding: 0;
}

.result-order-dropdown {
  width: 20rem;
}
