.admin-menus-view {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.admin-menus-card-content {
  margin-bottom: var(--spacing-l);
}

.sidebar-container {
  background-color: #f5f5f5;
  display: grid;
  width: 321px;

  .sidebar-content {
    height: 100%;
    width: 100%;
  }
}

.admin-menus-side-nav li:last-child {
  border-bottom-width: 1px;
  border-color: var(--color-black-20);
}
