/* @import '~hds-core/lib/utils/helpers.css'; */
@import 'fonts.css';

/* New to tailwind? check out this cheat sheet: https://nerdcave.com/tailwind-cheat-sheet */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --infra-font-default: HelsinkiGrotesk, Arial, sans-serif;
  --table-cell-width: 5.5rem;
}

html {
  font-size: 100%;
  /* overflow-x: hidden; */
}

body {
  margin: 0;
  width: 100%;
  font-family: var(--infra-font-default);
  overflow-x: hidden;
  @apply text-black-90;
}

/* completely remove styling from the default button */
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

p {
  @apply my-2;
}

span {
  @apply leading-[var(--lineheight-l)];
}

table p {
  @apply m-0;
}

/* Margin to fit the sidebar, not final values */
.app-content {
  /* Hacky calc, since the TopBar has a 1px border bottom */
  --app-min-height: calc(100vh - calc(var(--spacing-5-xl) + 0.0625rem));
  @apply min-h-[var(--app-min-height)] flex w-full;
}

#radio-checkbox label,
.checkbox-field label {
  @apply w-auto;
}

.input-l {
  max-width: 22.5rem;
}

.legend-margin {
  display: block;
  font-size: var(--fontsize-body-m);
  font-weight: 500;
  margin-bottom: var(--spacing-m);
  @apply text-black-90;
}

.big-dialog {
  @apply w-[65%];
}

input {
  @apply z-[1];
}

.list-field-input {
  @apply flex;
}

.list-field-input input {
  @apply !h-8;
}

#overrunRight .list-field-input {
  @apply my-2;
}

.pen-and-label-text {
  @apply font-medium !w-auto;
}

.input-wrapper label {
  @apply min-h-[1.4rem] w-[15.625rem];
}

.input-wrapper button {
  @apply z-[1];
}

/* 
  box-sizing: border-box causes the HDS-Select dropdown list to be too small, this sets
  the list to its intended size
*/
.input-wrapper ul {
  @apply !w-[101%];
}
