/* @import '~hds-core/lib/utils/helpers.css'; */
@import 'fonts.css';

/* New to tailwind? check out this cheat sheet: https://nerdcave.com/tailwind-cheat-sheet */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --infra-font-default: HelsinkiGrotesk, Arial, sans-serif;
  --table-cell-width: 5.5rem;
}

html {
  font-size: 100%;
  /* overflow-x: hidden; */
}

body {
  margin: 0;
  width: 100%;
  font-family: var(--infra-font-default);
  overflow-x: hidden;
  @apply text-black-90;
}

/* completely remove styling from the default button */
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

p {
  margin: var(--spacing-2-xs) 0;
}

span {
  line-height: var(--lineheight-l);
}

table p {
  margin: 0;
}

/* Margin to fit the sidebar, not final values */
.app-content {
  width: 100%;
  display: flex;
  /* Hacky calc, since the TopBar has a 1px border bottom */
  min-height: calc(100vh - calc(var(--spacing-5-xl) + 0.0625rem));
}

.margin-0 {
  margin: 0;
}

.display-flex {
  display: flex;
}

.flex-row-center {
  display: flex;
  align-items: center;
}

.flex-row-end {
  display: flex;
  justify-content: flex-end;
}

.display-flex-col {
  flex-direction: column;
}

.pos-relative {
  position: relative;
}

.w-100-p {
  width: 100%;
}

.text-right {
  text-align: right;
}

.input-wrapper label {
  width: 15.625rem;
}

#radio-checkbox label {
  width: auto !important;
}

.checkbox-field label {
  width: auto !important;
}

.input-l {
  max-width: 22.5rem;
}

.legend-margin {
  display: block;
  font-size: var(--fontsize-body-m);
  font-weight: 500;
  margin-bottom: var(--spacing-m);
  @apply text-black-90;
}

.big-dialog {
  width: 65% !important;
}

.hide-overflow {
  overflow: hidden;
}

input {
  z-index: 1 !important;
}

.list-field-input {
  @apply flex;
}

.list-field-input input {
  height: 2rem !important;
}

#overrunRight .list-field-input {
  @apply my-2;
}

.pen-and-label-text {
  width: auto !important;
  @apply font-medium;
}

.input-wrapper label {
  @apply min-h-[1.4rem];
}

.input-wrapper button {
  z-index: 1;
}
