/* PROJECT CARD */
.project-card-container {
  width: 100%;
}

/* TOOLBAR */
.project-card-toolbar-container {
  height: var(--spacing-3-xl);
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-m);
  justify-content: space-between;
}

.project-card-toolbar-container .toolbar-item {
  padding-right: var(--spacing-s);
}

.project-card-toolbar-container .display-flex button {
  margin-left: var(--spacing-s);
}

/* PROJECT CARD */
.project-card-header-container {
  display: flex;
  flex-wrap: wrap;
  padding: var(--spacing-layout-m) 0;
  background: var(--color-bus);
}

.project-card-header-container .left {
  flex: 1;
}

.project-card-header-container .left-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.project-card-header-container .center {
  flex: 3;
}

.project-card-header-container .center-wrapper {
  width: 23rem;
  margin-left: var(--spacing-layout-l);
}

.project-card-header-container .right {
  flex: 1;
  margin-right: var(--spacing-layout-xs);
}

.project-card-header-container .right-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-card-header-container .right-wrapper-inner {
  text-align: right;
  margin-right: auto;
}

.project-card-header-container .readiness-container {
  max-width: 110px;
  height: 100%;
}

.project-card-header-container .edit-name-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-m);
}

.edit-name-form .edit-name-input {
  width: 20rem;
}

.project-card-header-container .favourite-button-container {
  margin-bottom: var(--spacing-l);
}

/* CONTENT WRAPPED */
.project-card-content-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  margin-top: var(--spacing-layout-l);
}

.project-card-content-container .side-panel {
  display: flex;
  flex: 1;
  justify-content: center;
}

.project-card-content-container .form-panel {
  display: flex;
  flex: 2;
}

/* BASICS FORM */
.basics-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.basics-form .basics-form-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 var(--spacing-2-xl) 0 0;
}

.basics-form .nn-row {
  margin-bottom: var(--spacing-xs);
}

.basics-form .nn-label {
  color: var(--label-color-default, var(--color-black-90));
  font-size: var(--fontsize-body-l);
  font-weight: bold;
  width: 110px;
  display: inline-block;
}

.basics-form .identifiers-label {
  color: var(--label-color-default, var(--color-black-90));
  display: block;
  font-size: var(--fontsize-body-m);
  font-weight: 500;
  margin-bottom: var(--spacing-xs);
}

.basics-form .tags-container {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.tags-container .tag-wrapper {
  margin: 0 var(--spacing-xs) var(--spacing-xs) 0;
}
