/* PROJECT CARD */
.project-card-container {
  width: 100%;
}

/* TOOLBAR */
.project-card-toolbar-container {
  height: var(--spacing-3-xl);
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-m);
  justify-content: space-between;
}

.project-card-toolbar-container .toolbar-item {
  padding-right: var(--spacing-s);
}

.project-card-toolbar-container .display-flex button {
  margin-left: var(--spacing-s);
}

/* PROJECT CARD */
.project-card-header-container {
  background: var(--color-bus);
  padding: var(--spacing-2-xl) var(--spacing-layout-xl);
}

.project-card-header-container .header-row {
  display: flex;
  justify-content: space-between;
}

.project-card-header-container .progress-indicator-container {
  max-width: 150px;
  min-width: 150px;
}

.project-card-header-container .edit-name-form {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.project-card-header-container .header-column {
  padding: 0 var(--spacing-xl);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card-header-container .favourite-button-container {
  margin-bottom: var(--spacing-m);
}

.project-card-header-container .phase-dropdown {
  width: 280px;
}

/* CONTENT WRAPPED */
.project-card-content-container {
  margin: var(--spacing-layout-l) var(--spacing-layout-2-xl) 0 var(--spacing-layout-2-xl);
  display: flex;
}

/* BASICS FORM */
.project-card-content-container .basics-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project-card-content-container .basics-form .basics-form-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.project-card-content-container .basics-form .nn-row {
  margin-bottom: var(--spacing-xs);
}

.project-card-content-container .basics-form .nn-label {
  color: var(--label-color-default, var(--color-black-90));
  font-size: var(--fontsize-body-l);
  font-weight: bold;
  width: 110px;
  display: inline-block;
}

.project-card-content-container .basics-form .identifiers-label {
  color: var(--label-color-default, var(--color-black-90));
  display: block;
  font-size: var(--fontsize-body-m);
  font-weight: 500;
  margin-bottom: var(--spacing-xs);
}

.project-card-content-container .basics-form .tags-container {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.tags-container .tag-wrapper {
  margin: 0 var(--spacing-xs) var(--spacing-xs) 0;
}
