.breadcrumbs-container {
  border-bottom: 0.09rem solid var(--color-black-20);
  padding: 0.25rem 0;
}

.breadcrumbs-container ul {
  list-style: none;
  display: flex;
}

.breadcrumbs-container ul > li > a {
  text-decoration: underline;
  margin-right: 0.2rem !important;
  color: var(--color-black);
}

.breadcrumbs-container li:last-child {
  font-weight: bold !important;
  text-decoration: none !important;
}

.breadcrumbs-container svg {
  margin-right: 0.2rem;
}
