.breadcrumbs-list {
  @apply flex items-center h-16 p-8 border-b border-[var(--color-black-20)] list-none;
}

.breadcrumbs-list > li > a {
  text-decoration: none;
  margin-right: 0.2rem !important;
  color: var(--color-black);
}

.breadcrumbs-list > li {
  text-decoration: underline;
}

.breadcrumbs-list > li:last-child {
  font-weight: bold !important;
  text-decoration: none !important;
}

.breadcrumbs-list svg {
  margin-right: 0.2rem;
}
