.project-form {
  @apply my-16 w-full;
}

.project-form .input-wrapper {
  scroll-margin-top: 100px;
  margin-bottom: var(--spacing-l);
}

.project-form .form-row {
  @apply flex w-full;
}

.project-form .form-col-sm {
  @apply mr-6 flex basis-24 flex-col;
}

.project-form .form-col-md {
  @apply mr-6 flex basis-72 flex-col;
}

.project-form .form-col-lg {
  @apply mr-6 flex basis-[22.35rem] flex-col;
}

.project-form .form-col-xl {
  @apply mr-6 flex basis-96 flex-col;
}

.project-form .form-col-xxl {
  @apply mr-6 flex basis-[37.5rem] flex-col;
}

.project-form .error-summary-col {
  @apply mb-6 mr-6 flex basis-[49.5rem] flex-col;
}

.project-form #projectQualityLevel label,
.project-form #planningPhase label,
.project-form #constructionPhase label {
  @apply -translate-x-[7.5rem];
}

.save-icon > span {
  height: auto;
}

/* Select fields error message svg icon resize */
.select-field-wrapper div div > svg {
  @apply min-w-[25px] max-w-[25px];
}

.error-summary-container {
  @apply w-full border-l-8 border-error bg-error-light px-4 py-4;
}

.error-summary-label {
  @apply flex items-center gap-2 text-l font-bold;
}

.error-summary-list {
  @apply list-disc px-4 pt-2 text-sm font-normal;
}

.error-summary-link {
  @apply font-medium text-bus underline;
}

.project-form-banner {
  @apply fixed bottom-0 right-0 z-50 h-20 w-screen bg-white px-28;
}

.project-form-banner-container {
  @apply relative flex h-full w-full items-center;
}

.project-form-banner-container::before {
  content: '';
  width: 200%;
  @apply absolute h-full w-[200%] -translate-x-[13rem] shadow-2xl;
}
